*{
    text-align: center;

}

body{
    color: white;
    background-color: #1c2446;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.container1 {
    margin-top: 50px;
}

.datos {
    margin-top: 70px;
}

@media (max-width: 600px) {
    .container1{
      font-size: 15px;
    }
    body{
        background-color: brown;
    }
  }

body{
    font-family: 'Open Sans', sans-serif;
}
h2{font-family: 'Open Sans', sans-serif;}

p{font-family: 'Open Sans', sans-serif;}

ul{
    font-family: 'Open Sans', sans-serif;
}

.ClaseDatos {
    display: none;

}


 button{
    color: wheat;
    background-color: aqua;
 }
#seccion1 {
    font-size: 60px;
    text-align: center;
    background-color: gray;
}

legend, li {
    color: black;
}

.imagenes {

    margin-top: 15px;
}

.footer {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 190px;
    height: 100px;
    background-color:#191c32
}



.footer-content h2{
    font-size: 1.5em;
    
}


.social-network {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
    cursor: pointer;
    color: #fff;
}

.social-network  .fa-twitter {
    transition: ease-in .4s;
    color: #fff;
    

}

.social-network  .fa-instagram {
    transition: ease-in .4s;
    color: #fff;
    

}


.social-network  .fa-linkedin {
    transition: ease-in .4s;
    color: #fff;
    

}



.social-network  .fa-twitter:hover {
    transition: ease-in .4s;
    color:#49d5ff;
    

}

.social-network  .fa-instagram:hover {
    transition: ease-in .4s;
    color:#49d5ff;
    

}

.social-network  .fa-linkedin:hover {
    transition: ease-in .4s;
    color:#49d5ff;
    

}
